<% layout('layout/boilerplate')%>


<div class="alert alert-danger" role="alert">
   <h5 style="font-weight: 400;"><%=err.message%></h5>
   <hr>
   <!-- <p class="mb-0"><%=err.stack%> </p>  -->
</div>