<% layout('layout/navandfooter')%>
  <main class="lander-section">
      <div class="lander-container" style="background-image: url('/img/12.jpg');">
        <div class="banner">
          <h1>Welcome to Campsite Portal</h1>
          <h3>Find your next camping spot</h3>
          <h5 class="mb-3">Unbaised and Open</h5>
          <a href="/campgrounds" class="btn btn-success">View Campground</a>
          <a href="/login" class="btn btn-info">Login</a>
        </div>
   
    </div>
  </main>